* {
    margin: 0;
}

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Lato';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
}

.pannel_container {
    width: 97%;
    height: 85%;

    margin: 1.5%;
    padding: 2%;

    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: space-between;
}

.pannel {
    margin-bottom: 5%;
}

.side_pannel {
    width: 50%;
    height: 100%;
}

.pannel_product {
    width: 90%;
    height: 50%;

    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    overflow: auto;
}

.pannel_users {
    width: 90%;
    height: 30%;

    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    overflow: auto;
}

.pannel_title {
    width: 40%;

    background-color: rgb(49, 49, 49);
    align-items: center;

    display: flex;
    justify-content: space-evenly;
}

.pannel_element {
    height: 15%;
    margin: 2%;

    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    align-items: center;

    display: flex;
    justify-content: space-evenly;
}