.improbable_card_container {
    width: 80%;
    margin: 2% 10% 2% 10%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    justify-content: center;
    grid-gap: 1%;
}

.prestige_text p {
    width: min-content;
    white-space: nowrap;
}

#improbable_content {
    width: 100%;
    margin: 4% 0% 4% 0%;

    text-align: center;
}

.improbable_element {
    display: flex;

    margin-bottom: 5%;
}

.button {
    transition: 0.5s;
    padding: 2%;
    margin-left: 37.5%;

    align-self: center;
    font-size: 15px;

    width: 25%;
    position: absolute;

    border: 1px solid rgb(185, 13, 13);
    background-color: rgb(185, 13, 13);
    box-shadow: 0 1rem 1rem 0 rgb(0 0 0 / 10%);

    opacity: 0;
    text-align: center;
    color: #ffffff;
    z-index: 5;
}

.button:hover {
    transition: 0.5s;
    color: rgb(185, 13, 13);
    background-color: #ffffff;
}

.improbable_btn {
    margin-top: 25%;
}
