* {
  margin: 0;
}
  
body {
margin: 0;
font-family: 'Prata';
background-color: white;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
/*Global container css */
.global__container{
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin-top: 8em;
  height: 100%;
}
.line1{
  display: flex ;
}
.line2{
  display: flex;
}
/*div presentation*/
.content_logoMov{
  padding: 2%;
  max-width: 45%;
}
.logomovember{
  float: left;
  width: 30%;
}
.logomovember img{
  width: 90%;
}
.block_logoMov{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  padding: 3.4%;
}
.descript_logoMov p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1.2em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}
/*div CerHom X DoYouMovember*/
.content_cerhom{
  padding: 2%;
  max-width: 45%;
}

.BSpicture{
  float: left;
  display: flex;
  justify-content: flex-start;
  max-width: 40%;
}

.BSpicture img{
  width: 90%;
}

.logomov{
  float: right;
  padding-top: 1%;
  display: flex;
  justify-content: flex-end;
  max-width: 25%;
}

.logomov img{
  width: 55%;
}

.bottleléoube{
  float: right;
  padding-top: 1%;
  display: flex;
  justify-content: flex-end;
  max-width: 25%;
}

.bottleléoube img{
  width: 100%;
}

.logoCerhom{
  float: right;
  padding-top: 1%;
  display: flex;
  justify-content: flex-end;
  max-width: 25%;
}
.logoCerhom img{
  width: 100%;
}
.block_cerhom{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  padding: 2%;
}
.descript_cerhom p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}
/*div MLe20 X DoYouMovember*/
.content_mle20{
  padding: 2%;
  max-width: 45%;
}
.logoMle20{
  float: left;
  max-width: 35%;
}
.logoMle20 img{
  width: 90%;
}
.block_mle20{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  padding: 3%;
}
.descript_mle20 p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}
/*div Bottle*/
.content_bottle{
  padding: 2%;
  max-width: 45%;
}
.bottle_picture{
  float: left;
  max-width: 30%;
}
.bottle_picture img{
  width: 80%;
}
.block_bottle{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  padding: 3%;
}
.descript_bottle p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}
/*div Evenements DoYouMovember*/
.content_event{
  padding: 2% 0% 4% 25%;
  max-width: 50%;
}
.S_picture{
  float: left;
  max-width: 40%;
}
.S_picture img{
  width: 90%;
}

.SD_picture{
  float: right;
  padding-top: 1%;
  display: flex;
  justify-content: flex-end;
  max-width: 40%;
}
.SD_picture img{
  width: 100%;
}
.block_event{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  padding: 3%;
}
.descript_event p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}
