* {
  margin: 0;
  cursor: pointer;
}

htyml, body {
  height: 100%;
  margin: 0;
  font-family: 'Prata';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
menu bar
*/

.menuBar {
  width: 80%;
  margin: 0% 10% 0%;
  padding: 0.5% 0% 0.5%;

  display: flex;
  justify-content: space-around;

  transition: 1s ease;
  border-bottom: 1px solid rgb(192, 184, 184);
  cursor: default;
}

.menuBar:hover {
  border-bottom: 1px solid white;
}

.menuBarContent {
  transition: 1s ease;
  border-bottom: 1px solid white;
  color: #777474;
}

.menuBarContent:hover {
  padding-top: 0.5%;

  color: rgb(134, 131, 131);
  border-bottom: 1px solid rgb(165, 25, 25);
}

/*
the page content
*/

.pageContent {
  display: none;
  
  width: 100%;
  height: 100%;

  margin-top: 2%;
  margin-bottom: 10%;
}

#prestige_title {
  margin: 2% 10% 2% 10%;
  padding: 2% 2% 2% 2%;

  border: 1px solid rgb(165, 25, 25);

  text-align: center;
  font-size: 20px;
}

#prestige_Verticale_horizontale {
  width: 100%;
}

#prestige_Verticale_horizontale_underTitle_container {
  width: 80%;
  height: 40%;

  display: flex;
  justify-content: space-evenly;

  margin: 4% 10% 4% 10%;
  align-items: center;
}

#prestige_Verticale_horizontale_underTitle {
  display: flex;
  justify-content: center;

  white-space:nowrap;
}
#prestige_Verticale_horizontale_underTitle p{
  background-color: rgb(165, 25, 25);
  color: white;
  padding: 5%;
}

.underTitle_sideBorder {
  width: 20%;
  border-bottom: 1px solid rgb(240, 209, 33);
}

#prestige_Verticale_horizontale_title {
  display: flex;
  justify-content: space-evenly;

  margin: 0% 0% 4% 0%;
  width: 100%;
}

#prestige_verticale_title, #prestige_horizontale_title {
  text-align: center;
  color: rgb(165, 25, 25);
}

#prestige_verticale_underTitle, #prestige_horizontale_underTitle {
  color: #777474;
}

.prestige_element {
  margin-bottom: 2%;
  display: flex;

  font-size: 15px;
  white-space:nowrap;
}
.prestige_element_text {
  text-align: start;
  padding: 0 2% 0% 2%;
}

.prestige_element_title {
  color: rgb(165, 25, 25);
  margin-bottom: 2%;
}

#prestige_container {
  width: 100%;
  height: 100%;
}

.prestige_contain {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 3%;  
}

.pretige_element_img {
  width: 50%;
  height: 45%;
}

.prestige_element {
  width: 30%;
}

.prestige_element img{
  height: 30%;
  box-shadow: 0.19rem 0.19rem 0 rgb(00 00 00 / 10%);
  border: 1px solid rgb(185, 13, 13);
}














