/* animation for picture of Steph&Bruno */
.snip_SB {
    font-family: 'Lato';
    position: relative;
    min-width: 20%;
    max-width: 23%;
    min-height: 220px;
    width: 100%;
    color: #000000;
    float: right;
    margin-right: 6%;
    margin-top: -23%;
  }
  .snip_SB * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip_SB img {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .snip_SB figcaption {
    position: absolute;
    width: 70%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 33%;
  }
  .snip_SB h4,
  .snip_SB p {
    margin: 0%;
    width: 100%;
    -webkit-transform: translateX(15%);
    transform: translateX(15%);
    opacity: 0;
  }
  .snip_SB h4 {
    font-family: 'Prata';
  }
  .snip_SB:hover img,
  .snip_SB.hover img {
    width: 60%;
    right: -10%;
  }
  .snip_SB:hover figcaption h4,
  .snip_SB.hover figcaption h4,
  .snip_SB:hover figcaption p,
  .snip_SB.hover figcaption p {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    max-width: 70%;
    margin-top: 5%;
    margin-right: 4%;
    opacity: 1;
  }
  /*animation for picture of Vincent moustache*/
  .snip_VM {
    font-family: 'Lato';
    position: relative;
    min-width: 20%;
    max-width: 23%;
    min-height: 220px;
    width: 100%;
    color: #000000;
    float: left;
    margin-left: 0%;
    margin-top: 4%;
  }
  .snip_VM * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip_VM img {
    position: absolute;
    left: 0%;
    top: 50%;
    opacity: 1;
    width: 90%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .snip_VM figcaption {
    position: absolute;
    width: 70%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 35%;
    margin-left: 40%;
  }
  .snip_VM h4,
  .snip_VM p {
    margin: 0%;
    width: 90%;
    -webkit-transform: translateX(15%);
    transform: translateX(15%);
    opacity: 0;
  }
  .snip_VM h4 {
    font-family: 'Prata';
  }
  .snip_VM:hover img,
  .snip_VM.hover img {
    width: 60%;
    left: -20%;
  }
  .snip_VM:hover figcaption h4,
  .snip_VM.hover figcaption h4,
  .snip_VM:hover figcaption p,
  .snip_VM.hover figcaption p {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    max-width: 70%;
    margin-top: 5%;
    margin-left: 10%;
    opacity: 1;
  }
  /* animation for picture of bottle */
  .snip_bottle {
    font-family: 'Lato';
    position: relative;
    min-width: 20%;
    max-width: 23%;
    min-height: 220px;
    width: 100%;
    color: #000000;
    float: right;
    margin-right: 8%;
    margin-top: -22%;
  }
  .snip_bottle * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip_bottle img {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 60%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .snip_bottle figcaption {
    position: absolute;
    width: 70%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 33%;
  }
  .snip_bottle h4,
  .snip_bottle p {
    margin: 0%;
    margin-left: 15%;
    width: 100%;
    -webkit-transform: translateX(15%);
    transform: translateX(15%);
    opacity: 0;
  }
  .snip_bottle h4 {
    font-family: 'Prata';
  }
  .snip_bottle:hover img,
  .snip_bottle.hover img {
    width: 40%;
    right: -2%;
  }
  .snip_bottle:hover figcaption h4,
  .snip_bottle.hover figcaption h4,
  .snip_bottle:hover figcaption p,
  .snip_bottle.hover figcaption p {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    max-width: 70%;
    margin-top: 5%;
    margin-right: 4%;
    opacity: 1;
  }