* {
    margin: 0;
}

body {
  margin: 0;
  font-family: 'Prata';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
menu bar
*/

.menuBar {
  width: 80%;
  margin: 0% 10% 0%;
  padding: 0.5% 0% 0.5%;

  display: flex;
  justify-content: space-around;

  transition: 1s ease;
  border-bottom: 1px solid rgb(192, 184, 184);
  cursor: default;
}

.menuBar:hover {
  border-bottom: 1px solid white;
}

.menuBarContent {
  transition: 1s ease;
  border-bottom: 1px solid white;
  color: #777474;
}

.menuBarContent:hover {
  padding-top: 0.5%;

  color: rgb(134, 131, 131);
  border-bottom: 1px solid rgb(165, 25, 25);
}

/*
the page content
*/

.pageContent {
  display: none;
  margin-top: 2%;
  margin-bottom: 20%;
}

.pageContentTitleContainer{
  display: flex;
  justify-content: center;
}

.pageContentTitle {
  border-bottom: 1px solid rgb(165, 25, 25);
}

.baladeGustativeContent {
  display: block;
  justify-content: space-evenly;

}

.atelierDegustationContainer {
  margin-top: 5%;
}

.verticaleHorizontale {
  margin-top: 2%;
  display: flex;
}

.verticale {
  width: 50%;

  display: flex;
  justify-content: center;
}

.verticaleText {
  width: 50%;
}

.horizontale {
  width: 50%;

  display: flex;
  justify-content: center;
}

.horizontalText {
  width: 50%;
}

.verticaleHorizontaleText {
  display: flex;
}

.verticaleText {
  margin-top: 2%;

  display: flex;
  justify-content: center;
  text-align: center;
}

.horizontalText {
  margin-top: 2%;

  display: flex;
  justify-content: center;
  text-align: center;
}

.verticalHorizontaleContainer {
  width: 100%;
}

.verticaleHorizontaleContent {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.verticalHorizontaleElement {
  display: block;
  text-align: center;
}

.title {
  border-bottom: 1px solid rgb(165, 25, 25);
}

.verticalHorizontaleElementTitle {
  margin-bottom: 5%;
  color: rgb(165, 25, 25);
}

.improbable {
  display: flex;
  justify-content: center;
  text-align: center;
}






