/* Footer */
.pageFooter{
    border-top: 1px solid rgb(182, 174, 174);;
    background-color: rgb(190, 190, 190);
    display: flex;
}
.footerTitle{
    padding: 1px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 130%;
}
footer li{
    line-height: 150%;
    list-style :none
}
.footerBtn{
    padding: 2px;
    color: rgb(255, 255, 255);
    font-size: small;
}
.footerBtn:hover{
    color: rgb(209, 54, 54);
}
.footerColumn{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 10px;
    margin-left: 1.5%;
    max-width: 60%;
    padding: 3px;
}
footer label{
    color: rgb(180, 180, 180);
}
.footerColumnNews{
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-top: 10px;
    margin-left: 1.5%;
    max-width: 30%;
    padding: 3px;
}
.newsLetter{
    outline: none;
    margin-left: -35%;
    border-radius: 3px;
    margin-top: 10%;
    margin-bottom: 45%;
    border: 0px;
    font-size: medium;
    background-color: rgb(255, 255, 255);
}
footer ::placeholder{
    color: rgb(180, 180, 180);
}
.confirmNews{
    transition: all 0.3s ease-in-out;
    font-size: medium;
    margin-top: 10%;
    margin-bottom: 45%;
    margin-left: 5px;
    max-width: 20%;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    color: rgb(255, 255, 255);
}
.confirmNews:hover{
    border-radius: 2px;
    margin-left: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(119, 38, 38);
}
.legislation{
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 18%;
    margin-left: 1%;
    margin-bottom: 2.5%;
    margin-top: 1%;
    height: 10%;
    font-size: small;
    border: 1px solid black;
}
#law{
    margin-top: 2%;
    margin-left: 2%;
}

#legislationLogo{
    height: 45%;
    width: 45%;
    border: none;
    padding: 5px;
    object-fit: cover;
}