/* Footer */
.pageFooter{
    padding-top: 3em;
    border-top: 1px solid rgb(182, 174, 174);
    border-top: 1px solid rgb(182, 174, 174);;
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: space-evenly;
}
.footerTitle{
    padding: 1px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 130%;
    white-space: nowrap;
}
footer li{
    line-height: 150%;
    list-style :none;
    color: white;
    font-size: small;
}
footer ul{
    padding-inline-start: 2%;
}
.footerBtn{
    padding: 2px;
    color: rgb(255, 255, 255);
    font-size: small;
}
.footerBtn:hover{
    color: rgb(209, 54, 54);
}
.footerColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 13%;
    padding: 0% 1% 2% 1%;
}
.footerColumnSocial{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 10%;
    padding: 0% 1% 2% 1%;
}
footer label{
    color: rgb(180, 180, 180);
}
.footerColumnNews{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    padding: 0% 1% 2% 1%;
}
/* Newsletter part */
.news{
    padding: 10% 0% 0% 0%;
}
.newsLetter{
    outline: none;
    border-radius: 3px;
    max-height: 100%;
    border: 0px;
    font-size: medium;
    background-color: rgb(255, 255, 255);
}
footer ::placeholder{
    color: rgb(180, 180, 180);
}
.confirmNews{
    transition: all 0.3s ease-in-out;
    font-size: medium;
    max-height: 100%;
    margin-left: 5px;
    max-width: 20%;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    color: rgb(255, 255, 255);
}
.confirmNews:hover{
    border-radius: 2px;
    margin-left: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(119, 38, 38);
}
/* Legislation part */
.legislation{
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 18%;
    height: 10%;
    font-size: small;
    border: 1px solid black;
}
#law{
    margin-top: 2%;
    margin-left: 2%;
}

#legislationLogo{
    height: 45%;
    width: 45%;
    border: none;
    padding: 5px;
    object-fit: cover;
}
/* Contact part */
.socialLogo {
    height: 15%;
    width: 15%;
    margin-top: 5px;
    margin-left: 5px;
}