* {
  margin: 0;
}
  
body {
margin: 0;
font-family: 'Prata';
background-color: white;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
/*Global container css */
.global__container{
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin-top: 8em;
  height: 100%;
}
/*div title*/
.movember__container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.movember__baseline{
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(124, 19, 19);
  margin-bottom: 8%;
}
.movember__baseline h1{
  font-size: 3em;
  color: black;
  font-weight: 400;
}
/*div title*/
.movember__container_logoMov{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 68%;
}
.movember__baseline_logoMov{
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(124, 19, 19);
  margin-bottom: 11%;
}

.movember__baseline_logoMov h2{
  font-weight: 25%;
  color: black;
}
/* Presentation div with logo and description*/
.content_logoMov{
  margin-left: 15%;
  margin-bottom: 12%;
}
.logoMovember{
  margin-bottom: -25%;
  margin-left: -8%;

}
.descript_logoMov{
  margin-left: 20%;
  margin-bottom: 3%;
  font-family: 'Lato';
  font-size: medium;
  max-width: 60%;
}
.descript_logoMov p{
  padding: 1%;
  text-align: justify;
  border: 1px solid rgb(124, 19, 19);
  color: rgb(78, 76, 76);
  text-align: justify;
  flex: 0.6;
  width: 100%;
  font-size: 1.2em;
  margin-left: 12%;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.4em;
  padding: 3%;
}
/* contact div with Stephane&Bruno image*/
.content_SB{
  margin-bottom: 8%;
}
.descript_contact{
  margin-left: 10%;
  margin-top: 0%;
  margin-bottom: 3%;
  font-family: 'Lato';
  font-size: medium;
  max-width: 55%;  
}
.descript_contact p{
  padding: 1%;
  text-align: justify;
  border: 1px solid rgb(124, 19, 19);
  text-align: justify;
  flex: 0.6;
  width: 100%;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.4em;
  color: rgb(78, 76, 76);
  padding: 3%;
}
/* presentation of partner with mle20 div with VM image*/
.content_VM{
  margin-left: 15%;
  margin-bottom: 8%;
}
.descript_VM{
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: 'Lato';
  font-size: medium;
  max-width: 60%;  
}
.descript_VM p{
  padding: 1%;
  text-align: justify;
  border: 1px solid rgb(124, 19, 19);
  color: rgb(78, 76, 76);
  text-align: justify;
  flex: 0.6;
  width: 100%;
  font-size: 1.2em;
  margin-left: 12%;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.4em;
  padding: 3%;
}
/* service of partner div with bottle img */
.content_bottle{
  margin-bottom: 8%;
}
.descript_service{
  margin-left: 10%;
  margin-top: 0%;
  margin-bottom: 3%;
  font-family: 'Lato';
  font-size: medium;
  max-width: 55%;  
}
.descript_service p{
  padding: 1%;
  text-align: justify;
  border: 1px solid rgb(124, 19, 19);
  text-align: justify;
  flex: 0.6;
  width: 100%;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.4em;
  color: rgb(78, 76, 76);
  padding: 3%;
}