* {
  margin: 0;
}
  
body {
margin: 0;
font-family: 'Prata';
background-color: white;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
/*Global container css */
.global__container{
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin-top: 8em;
  height: 100%;
}
/*div title*/
.movember__container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -4%;
}
.movember__baseline{
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(124, 19, 19);
  margin-bottom: 1%;
}
.movember__baseline h1{
  font-size: 3em;
  color: black;
  font-weight: 400;
}
/* div title logoMov*/
.movember__container_logoMov{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.movember__baseline_logoMov{
  padding-bottom: 1%;
  margin-bottom: 6%;
  border-bottom: 1px solid rgb(124, 19, 19);
}
.movember__baseline_logoMov h2{
  font-size: 20px;
  color: black;
}
/*div presentation*/
.content_logoMov{
  padding: 2%;
}
.logomovember{
  float: left;
  max-width: 30%;
}
.logomovember img{
  width: 100%;
}
.block_logoMov{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  max-width:45%;
  padding: 3%;
}
.descript_logoMov p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1.2em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}
/* div title logoCerhom*/
.movember__container_cerhom{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.movember__baseline_cerhom{
  padding-bottom: 1%;
  margin-bottom: 6%;
  border-bottom: 1px solid rgb(124, 19, 19);
}
.movember__baseline_cerhom h2{
  font-size: 20px;
  color: black;
}
/*div CerHom X DoYouMovember*/
.content_cerhom{
  padding: 2%;
}
.logoCerhom{
  float: left;
  max-width: 30%;
}
.logoCerhom img{
  width: 100%;
}
.block_cerhom{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  max-width:45%;
  padding: 3%;
}
.descript_cerhom p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1.2em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}
/* div title mle20*/
.movember__container_mle20{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.movember__baseline_mle20{
  padding-bottom: 1%;
  margin-bottom: 6%;
  border-bottom: 1px solid rgb(124, 19, 19);
}
.movember__baseline_mle20 h2{
  font-size: 20px;
  color: black;
}
/*div MLe20 X DoYouMovember*/
.content_mle20{
  padding: 2%;
}
.logoMle20{
  float: left;
  max-width: 30%;
}
.logoMle20 img{
  width: 100%;
}
.block_mle20{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  max-width:45%;
  padding: 3%;
}
.descript_mle20 p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1.2em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}
/* div title Produit*/
.movember__container_bottle{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.movember__baseline_bottle{
  padding-bottom: 1%;
  margin-bottom: 6%;
  border-bottom: 1px solid rgb(124, 19, 19);
}
.movember__baseline_bottle h2{
  font-size: 20px;
  color: black;
}
/*div Produit*/
.content_bottle{
  padding: 2%;
}
.bottle_picture{
  float: left;
  max-width: 30%;
}
.bottle_picture img{
  width: 80%;
}
.block_bottle{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  max-width:45%;
  padding: 3%;
}
.descript_bottle p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1.2em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}
/* div title Evenement DoYouMovember*/
.movember__container_event{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.movember__baseline_event{
  padding-bottom: 1%;
  margin-bottom: 6%;
  border-bottom: 1px solid rgb(124, 19, 19);
}
.movember__baseline_event h2{
  font-size: 20px;
  color: black;
}
/*div Evenements DoYouMovember*/
.content_event{
  padding: 2%;
}
.VM_picture{
  float: left;
  max-width: 30%;
}
.VM_picture img{
  width: 80%;
}
.block_event{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 19, 19);
  max-width:45%;
  padding: 3%;
}
.descript_event p{
  text-align: justify;
  font-family: 'Lato';
  color: rgb(78, 76, 76);
  font-size: 1.2em;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}