.slide__container{
  margin-top: 5em ;
  width: 100%;
}

.splide__slide {
  z-index: 1;
  cursor: grab;
}

.splide__slide .slide1 img {
  width: 100%;

}

.slide1{
  position: relative;
  text-align: center;
  color: black;
}

.caption1{
  position: absolute;
  font-size: 3em;
  top: 10%;
  left: 10%;
  color: white;
  padding-top: 20px;
  border-top: 1px solid white;

}  

.caption3{
  position: absolute;
  font-size: 3em;
  top: 50%;
  left: 40%;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

}  


.caption2{
  position: absolute;
  font-size: 3em;
  top: 10%;
  left: 50%;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}  

.caption2 p{
  font-size: 0.5em;
  padding: 2px;
}