* {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Prata';

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#storeContain {
  margin-left: 13.1%;
  margin-top: 30px;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
	max-width: 400px;

}

.storeElement {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;

  border: 1px solid white;
	transition: .5s ease-in-out;
}

.storeElement:hover {
  border-top: 1px solid rgb(182, 174, 174);
}

/*map css*/

.elementDescription {
  font-size: 20px;
}

.elementName {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgb(240, 209, 33);
}

.region {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.elementAppellation {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.elementVintage {
  display: flex;
  justify-content: center;

  margin-top: 10px;

  font-size: 20px;
}

.elementPrice {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.elementImg {
  transition: .3s ease-in-out;

  margin-top: 30px;
  min-width: 100px;
}

.storeElement img{
  width: 325px;
  height: 355px;
}

/* button css*/

.store__container a {
  font-size: 15px;
  padding: 10px 16px;
  color: white;
  text-align: center;
}

.store__container .btn {
  text-decoration: none;
  border: 2px solid rgb(144, 12, 63);
  background-color: rgb(144, 12, 63);
  position: relative;
  overflow: hidden;

  margin-bottom: 5px;
}

.store__container .btn:hover {
  text-decoration: none;
  border: 2px solid rgb(144, 12, 63);
  background-color: white;
  color: rgb(144, 12, 63);

  position: relative;
  overflow: hidden;

  margin-bottom: 5px;
}

.store__container .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background-color: white;
  color: black;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(144, 12, 63, 0.4),
    transparent
  );
  transition: all 650ms;
} 

.store__container .btn:hover:before {
  left: 100%;
}

.elementImg .btnImg {
  position: absolute;
  margin-right: 500px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.elementPrice {
  cursor: pointer;
}

/* image button */

.imageButton {
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  position: absolute;
  margin-left: 160px;
  margin-top: -160px;

  text-align: center;
}

.elementImg:hover .image {
  opacity: 0.3;
}

.elementImg:hover .imageButton {
  opacity: 1;
}

.imageButton:hover .text{
  transition: .5s ease;
  background-color: white;
  color: rgb(144, 12, 63);
  border: 1px solid rgb(144, 12, 63);
}

.text {
  transition: .5s ease;

  background-color: rgb(144, 12, 63);
  color: white;
  border: none;
  cursor: pointer;

  font-size: 16px;
  padding: 16px 32px;
}

/*know more pop-up*/

#popup {
  display: none; 
  position: fixed; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  z-index: 999; 

  background-color: rgba(0,0,0,0.4);
}

#popupImgContain {
  width: 125px;
  height: 155px;
}

#popupText {
  font-size: 12px;
  margin: 5%;
  margin-top: 10%;

  display: block;
  justify-content: space-around;
}

#popupDescription {
  display: flex;
  justify-content: space-between;
  
}

#popupTextName {
  margin-bottom: 40px;

  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid rgb(240, 209, 33);
}

#popupBtn {
  transition: .5s ease;

  background-color: rgb(144, 12, 63);
  color: white;
  border: none;
  cursor: pointer;

  font-size: 16px;
  padding: 16px 32px;

  margin-left: 13%;
}

#closePopupBtn {
  margin-top: 30px;
}

#popupBtn:hover {
  transition: .5s ease;

  background-color: white;
  color: rgb(144, 12, 63);
  border: 1px solid rgb(144, 12, 63);
}

.popupContent {
  background-color: #fefefe;
  border: 1px solid black;

  margin: auto;
  padding: 35px;
  width: 50%;
  height: 40%;
  text-align: center;
}

.popupImg { 
  margin-top: 10%;
}

/* sidenav */

#cart {
  margin-left: 25%;
  margin-bottom: 10%;
  color: black;

  font-size: 30px;
}

#cartEnd {
  margin-left: 20%;
  margin-top: 10%;
  color: black;

  font-size: 20px;
}

#cartContain img{
  width: 125px;
  height: 155px;
}

#cartContain{
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}

#mySidenav {
  margin-left: 37%;
  color: #f1f1f1;

  z-index: 1000;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;

  background-color: white;
  border: 1px solid black;
  overflow-x: hidden;
  font-size: 20px;
  color: #818181;


  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  display: block;
  justify-content: end;

  padding: 8px 8px 8px 32px;

  text-decoration: none;
  font-size: 20px;
  color: black;

  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}

@media screen and (max-height: 650px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}










