#banner {
    margin: 0;
    height: 32px;
    margin-bottom: 30px;


    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-around;

}

.bannerContain {
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bannerContain:hover{
    cursor: pointer;
}

.bannerContain img{
    width: 25px;
    height: 20px;
    padding-left: 4px;
}

#delivery img{
    width: 37px;
    height: 32px;
}

#tapeForSearch {
    margin-left: 15%;
}

.enterEmail{
    outline: none;
    margin-left: -35%;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 45%;
    border: 0px;
    font-size: medium;
    background-color: rgb(255, 255, 255);
}

.confirmSearch{
    transition: all 0.3s ease-in-out;
    font-size: medium;
    margin-top: -10%;
    margin-bottom: 45%;
    margin-left: 5px;
    max-width: 20%;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    color: rgb(255, 255, 255);
}

.confirmSearch:hover{
    border-radius: 2px;
    margin-left: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: grey;
}
#slider_header {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}
.icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    font-size: 15px;
    color: rgb(0, 0, 0);
}
.icon p{
    margin-right: 2%;
}
#account_slider {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    overflow-x: hidden;
    font-size: 20px;
    color: #000000;


    transition: 0.5s;
    filter: none;
}
#slider_profil img{
    width: 30%;
}
#profil_picture, #profil_username {
    width: 100%;
    display: flex;
    justify-content: center;
}
#close_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner a{
    color: rgb(255, 255, 255);
}