* {
    margin: 0;
}
    
body {
    margin: 0;
    font-family: 'Prata';
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*Global container css */
.global__container{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin-top: 8em;
    height: 100%;
}
.line1{
    display: flex ;
}
.line2{
    display: flex;
}
/*div presentation*/
.content_logockc{
    padding: 2%;
    min-width: 43%;
    height: auto;
}
.logockc{
    max-width: 20%;
}
.logockc img{
    width: 90%;
}

.perso1{
    padding-left: 33%;
    max-width: 45%;
}

.perso1 img{
    width: 75%;
}


.block_logockc{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(124, 19, 19);
    padding: 4%;
}
.descript_logockc p{
    text-align: center;
    font-family: 'Lato light';
    color: rgb(78, 76, 76);
    font-size: 1em;
    line-height: 1.2em;
}
/*div CerHom X DoYouMovember*/
.content_why{
    padding: 2%;
    height: auto;
}
.cookbout{
    padding-left: 36%;
    padding-top: 9%;
    max-width: 40%;
}

.cookbout img{
    width: 75%;
}
.block_why{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(124, 19, 19);
    padding: 18% 3% 3% 3%;
}
.descript_why p{
    text-align: center;
    font-family: 'Lato light';
    color: rgb(78, 76, 76);
    font-size: 1em;
    letter-spacing: 0.2px;
    line-height: 1.4em;
}
  
/*div Evenements DoYouMovember*/
.content_mle20{
    padding: 2% 0% 4% 25%;
    max-width: 50%;
}
.mle20_picture{
    float: left;
    max-width: 30%;
}
.mle20_picture img{
    width: 80%;
}
.block_mle20 {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(124, 19, 19);
    padding: 3%;
}
.descript_mle20 p{
    text-align: center;
    font-family: 'Lato light';
    color: rgb(78, 76, 76);
    font-size: 1em;
    letter-spacing: 0.2px;
    line-height: 1.4em;
}
.persocook2{
    float: left;
    max-width: 25%;
  }
.persocook2 img{
    width: 90%;
  }
  
.persocook3{
    float: right;
    padding-top: 1%;
    display: flex;
    justify-content: flex-end;
    max-width: 25%;
  }
.persocook3 img{
    width: 90%;
  }